<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vostore.orcamentoragonezi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Servicos.Demolicao"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ActivitysNavigation.Produtos"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".Splash" />
        <activity android:name=".ActivitysNavigation.Orcamentos" />
        <activity android:name=".ActivitysNavigation.Parcelamento" />
        <activity android:name=".Login" />
        <activity android:name=".ActivitysNavigation.Ajustes" />
        <activity android:name=".Permissoes.PermissionsActivity"></activity>

        <!-- File Provider -->

        <provider

            android:name="android.support.v4.content.FileProvider"

            android:authorities="com.pratikbutani.pdf.fileprovider"

            android:exported="false"

            android:grantUriPermissions="true">

            <meta-data

                android:name="android.support.FILE_PROVIDER_PATHS"

                android:resource="@xml/provider_paths" />

        </provider>
    </application>

</manifest>